block content
    div 
    p #{unit.Unit} 
    img(src=`/images/${unit.Unit}.png`, height="450" weight="700")
    p rarity: #{unit.Rarity}
    p hit_Speed: #{unit.Hit_Speed}
    p cost: #{unit.Cost}
    img
